// Header

#header-home {
  @mixin header-animation($delay) {
    animation: show-up .5s ($delay * .25s) both;
  }
  .featured {           @include header-animation(0); }
  .section__title {     @include header-animation(1); }
  .subtitle {           @include header-animation(2); }
  .description {
    .btn:nth-child(1) { @include header-animation(3); }
    .btn:nth-child(2) { @include header-animation(4); }
    .btn:nth-child(3) { @include header-animation(5); }
  }
}
